@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald.ttf);
  }

* {
    box-sizing: border-box;
    margin: 0;
}

.main_page{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_page{
    width: 100%;
    background-color: #E6E8EA;
}

.main_page_bg{
    width: 1366px;
    height: 650px;
    margin: 0 auto;
    background-image: url("images/MainBackground.jpg");
}

.main_page_bg .container{
    width: 1170px;
    margin: 0 auto;
    height: 650px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header{
    display: flex;
    max-width: 100%;
    align-items: center;
    height: 100px;
}

.header .logo{

}

.header nav{
    width: 403px;
    margin: 0 auto;
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
}

.header .contacts{
    display: flex;
    width: 270px;
    justify-content: space-between;
}

.header .contacts .icons{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.number{
    color: #fff;
}

.mountain{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}

.mountain h1{
    font-family: Oswald;
    color: #fff;
    font-size: 98px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.more button{
    background-color: transparent;
    border: #fff 2px solid;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 40px;
}

.tours_bg{
    width: 1366px;
    height: 1447px;
    margin: 0 auto;
    background-color: #fff;
}

.tours_bg .container{
    position: relative;
    width: 1170px;
    height: 1177px;
    top: 140px;
    margin: 0 auto;
}

.tours_bg .container .tours_inside img{
    width: 815px;
    height: 375px;
    position: relative;
    right: -85px;
    float: right;
}
.tours_bg .container .tours_inside h2{
    color: #061B28;
    font-family: Oswald;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
}

.tours_bg .container .tours_inside p{
    margin-top: 50px;
    color: #061B28;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tours_bg .container .popular_tours{
    top: 140px;
    height: 528px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tours_bg .container .popular_tours h2{
    color: #061B28;
    font-family: Oswald;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    text-align: center;
}
.tours_bg .container .popular_tours .cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 370px;
    height: 326px;
    position: relative;
}

.card img{
    position: absolute;
    top: 0;
    left: 0;
}

.card h3{
    position: absolute;
    color: #061B28;
    font-family: Oswald;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    left: 40px;
    bottom: 113px;
}
.card p{
    position: absolute;
    color: #061B28;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    left: 40px;
    bottom: 75px;
}
.card h4{
    position: absolute;
    color: #061B28;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    left: 60px;
    top: 42px;
}
.card h5{
    position: absolute;
    color: #061B28;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    left: 58px;
    bottom: 33px;
}

.tours_bg .container .popular_tours .arrows{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
}

.russia_bg{
    width: 1366px;
    height: 757px;
    margin: 0 auto; 
    background-image: url("images/RussiaBackground.jpg");
}

.blog_bg{
    width: 1366px;
    height: 1128px;
    margin: 0 auto;
    background-color: #fff;
}

.help_bg{
    width: 1366px;
    height: 690px;
    margin: 0 auto;
    background-color: #061B28;
}   

.contacts_bg{
    width: 1366px;
    height: 737px;
    margin: 0 auto;
    background-color: #fff;
}   

footer{
    width: 1366px;
    height: 121px;
    margin: 0 auto;
    background-color: #061B28;
}