* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

main {
  width: 100%;
}
main .promo {
  max-width: 100%;
  height: 850px;
  margin: 0;
}
main .promo .promo_bg {
  height: 950px;
  background-image: url(../img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
main .promo .promo_bg header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .promo .promo_bg header nav {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
}
main .promo .promo_bg header nav .logotype {
  margin-left: 0;
}
main .promo .promo_bg header nav .links a {
  margin-right: 30px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
main .promo .promo_bg header nav .links a:last-child {
  margin-right: 0;
}
main .promo .promo_bg header .contact {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .promo .promo_bg header .contact .contact_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .promo .promo_bg header .contact .contact_inside .number {
  margin-left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .promo .promo_bg header .contact .contact_inside .number a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
main .promo .promo_bg header .contact .contact_inside .accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}
main .promo .promo_bg header .contact .contact_inside .accounts .search {
  background-color: rgba(252, 252, 252, 0.4);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}